<table>
	<tr>
		<td><div class="box" id="one"></td>
		<td><div class="box" id="two"></td>
		<td><div class="box" id="three"></td>
	</tr>
	<tr>
		<td><div class="box" id="four"></td>
		<td><div class="box" id="five"></td>
		<td><div class="box" id="six"></td>
	</tr>
	<tr>
		<td><div class="box" id="seven"></td>
		<td><div class="box" id="eight"></td>
		<td><div class="box" id="nine"></td>
	</tr>
</table>
<button id='clear-board-button' >Clear Board</button>



